<h1> Your Favourite Spaces! </h1>
<h3> <%=current_user.first_name %> has <%= pluralize(current_user.favourite_spaces.count,'favourite space') %> </h3>

<%if @user.favourite_spaces.any? %>
  <% @favourite_spaces.each do |space| %>
  <p><%=link_to space.title, space %> |
    <%= link_to 'Remove from favourites', favourite_space_path(space), method: :delete %><br/>
    <% end %></p>
  <% end %>
