<h1> Your Favourite Spaces! </h1>

<h4> You currently have <%= pluralize(@user.favourite_spaces.count,'favourite') %></h4>
<% @favourite_spaces.each do |space| %>
<p><%=link_to space.title, space %> |
<%= link_to 'Remove from favourites', favourite_space_path(space), method: :delete %><br/>
<% end %></p>
