<h1>Reviews for this space</h1>

<% @space.reviews.order(created_at: :desc).each do |review|  %>

<p>
  <%# review.title %>
  <%= review.content %>
</p>

<% if review.user != nil  %>
  <p> by <%= review.user %>></p>
  <p>Added on: <%= review.created_at %></p>
<% end %>

<% end %>
