.booking-button {
  width: 50%;
  float: right;
  margin: 1em 0 0 0;
  height: 39px;
}

.booking-container {
  margin: 1em 0 5em 0;
}

.booking-submit {
  width: 50%;
  border: 1px solid $lightgrey;
}

.booking-icon {
  float: left;
  margin-right: 15px;
}
