.booking-button {
  width: 100%;
  margin: 1em 0 0 0;
  display: inline;
}

.booking-container {
  padding: 1em;
  margin: 1.5em 0;
  border: 1px solid $lightgrey;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;

  .fa {
    color: $lightgrey;
    margin: 0 5px;
  }
}

.booking-icon {
  float: left;
  margin-right: 15px;
}

.button-left {
  padding-right: 15px;
}

.button-right {
  padding-left: 0;
}
