#capacity-search {
  border: 0;
}

#capacity-slider {
  width: 50%;
  height: 6px;
  border: 0;
  background-color: $blue;
  margin: 0 0 2em 1em;
}

h3 {
  margin-bottom: 1em;
}

.search-result {
  -moz-border-radius: 0 0.5em 0.5em 0;
  -webkit-border-radius: 0 0.5em 0.5em 0;
  -khtml-border-radius: 0 0.5em 0.5em 0;
  border-radius: 0 0.5em 0.5em 0;
  border: 1px solid $lightgrey;
  margin-bottom: 2em;
}

.search-params {
  padding: 8px 20px 20px 20px;
}

.search-param {
  margin: 1em 0;
  color: $medgrey;
}
