// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space {
  border: 1px solid $lightgrey;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -khtml-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  text-align: left;
  margin: 1em 0;
  font-size: 12px;
  height: 545px;
  position: relative;
  overflow: hidden;
}

.space-content {
  h3 {
    margin-top: 2em;
  }
}

.space-amenities {
  padding: 2em;
  font-size: 15px;
}

.space-buttons {
  width: 100%;
  position: absolute;
  bottom: 25px;
}

.space-nav {
  float: right;
  text-decoration: none;

  a {
    margin: 0 0.5em;
  }
}

.space-aside {
  border: 1px solid $lightgrey;
  padding: 1.5em;
  margin-bottom: 2em;

  h2 {
    margin-top: 0;
  }
}

.space-cover {
  background-color: #F3F3F5;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.space-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.space-description {
  padding: 25px;
  font-size: 13px;

  h1 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
  }
}

.space-bookings {
  margin-top: 0.6em;
  font-size: 0.8em;
  text-align: right;
}

.space-details h4 {
  line-height: 2;
}

.space_new_form {
  label {
    display: inline-block;
  }
  input {
    margin-bottom: 15px;
  }
}

.reviewer-details {
  display: inline-block;
  margin: 0;
}

#space_num img{
  width: 1.5em;
  height: auto;
}
