<div id="error_explanation">
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <div class="alert">
          <li><%= message %></li>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
