@import 'variables';
@import 'forms';
@import 'lists';
@import 'typography';
@import 'calendar';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.35;
}

main {
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link, a:active, a:visited, a:hover {
  color: $blue;
  text-decoration: none;
}

header {
  padding: 1em;
}

hr {
  border: 0;
  height: 1px;
  background: $lightgrey;
}

p {
  font-size: 1em;
  margin: 1.5em 0;
}

// BOOTSTRAP MODIFICATIONS

.page-container {
  min-height: 70%;
}

.no-gutters {
  padding: 0;
}

// HEADER & NAVIGATION

.site-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightgrey;

  .site-nav {
    line-height: 50px;
    font-size: 12px;

    a {
      color: $grey;
      margin: 0 1em;
      letter-spacing: 1px;
      font-weight: 500;
    }

    a:hover {
      color: $blue;
    }
  }

  .logo {
    margin: 0 20px;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: $blue;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  margin: 0 1em;
}

.dropdown-content {
  display: none;
  z-index: 100;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 200px;
  padding: 0.5em;

  a {
    display: block;
    padding: 0 1em;
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}

// CONTENT

.site-content {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.space-nav {
  text-align: right;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0;
  margin-top: 10px;
}

// TABBED NAVIGATION

#tabs {
  padding: 0;
  border: 0;
  font-family: $base-font-family;
  font-weight: 300;

  ul {
    border: 0;
    background-color: #FFF;
  }

  li {
    outline: none;
    border-radius: 0;
    background-color: #FFF;
    border: 0;
  }

  .ui-tabs-nav a {
    padding: 0.5em 0;
    font-size: 15px;
    margin-right: 10px;
    color: $medgrey;
    outline: none;
  }

  .ui-tabs-nav li.ui-state-active a {
    border-bottom: 3px solid $blue;
  }
}

#tabs > div {
  padding: 0;
}

// SIMPLE STYLES & FIXED

.clearfix {
  overflow: auto;
  zoom: 1;
}

.grey {
  background-color: $lightestgrey;
  padding: 3em 0;
}

.blue {
  background-color: $blue;
  padding: 4em;
}

.full-width {
  width: 100%;
}

.clear {
  clear: both;
}

.centered {
  text-align: center;
}

.inline {
  display: inline-block;
}

.sign-up {
  margin-top: 2em;
}

// FOOTER

.site-footer {

  background-color: $blue;
  color: white;
  padding: 2em 5em;
  width: 100%;
  vertical-align: bottom;

  .footer-logo {
    color: white;
    font-size: 25px;
    margin: 0   0.5em;
    font-weight: 600;
  }

  .row {
    margin-left: 4em;
  }
}

.footer-title {
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.table > thead > tr > th {
  border-bottom: none;
}
