// Typography
$base-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colours
$blue: #66a0ff;
$grey: #777;
$lightgrey: #DDD;
$lightergrey: #EEE;
$lightestgrey: #F2F2F2;
$medgrey: #444;
$darkgrey: #333;
