<section class="container">
  <h1>Categories</h1>

  <div class="category">
    <% @categories.each do |c| %>
      <div class="category-name">
        <%= link_to c.name, c %>
      </div>
      <% end %>
  </div>
</section>
